.App {
  text-align: center;
}



#wrapper {
  display: flex;
  text-align: initial;
  width: 100%;
  height: 500px;
}

.myHalf {
  border: blue 1px solid;
  min-height: 100px;
  width:50%;

}


.aaayumiHalf {
  min-height: 100px;
  width: 50%;
  background: red;

}