.App {
  text-align: center;
}

#wrapper {
  display: flex;
  text-align: initial;
  width: 100%;
  min-height: 500px;
  margin-top: 20px;
  padding-bottom: 200px;
}

.paulHalf {
 /*border: black 1px solid;*/
  width:50%;
}


.aaayumiHalf {
  width: 50%;
 /* border: red 1px solid;*/

}