* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html {
  font-size: 14px;
}

li {
  border: 1px black;
  margin: 0 auto;
  padding: 20px 20px;
  list-style-type: none;
}

img {
    height: 100%;
    width: 100%;
}
a {
  text-decoration: none;
  color:black;
}

a:hover {
    color:black;
    opacity: 0.3;
}