.infoWindow {
    opacity: 0.2;
}

.infoBoxName {
    background: rebeccapurple;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
}

.infoBoxDesc {
    padding: 5px;
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
}

.infoBoxDesc span {
    color: rgba(255, 0, 50, 0.89);
    font-size: 14px;
}