#meetups {
    background: red;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: 
}

#meetups .searcher {
    flex: 3;
    background: white;
}


#meetups .mapper {
    flex: 2;
    background: white;
}