#searchBar {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    
}

#searchBar form {
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    
}

#searchBar a {
    text-decoration: none;
}

#searchBar input {
    text-transform: uppercase;
}

#searchBar .pagination {
    
    position: relative;
    height: 60px;
    padding-bottom: 100px;
}

#searchBar .next {
    position: absolute;
    right: 35px;
}

#searchBar .prev {
    position: absolute;
    left: 35px;
}

#searchBar .pagination i {
    font-size: 22px;   
    color: rgb(255, 64, 129);
}







