#searchBar {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    
}

#searchBar form {
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    display: flex;
    width: 100%;
}

.usa-form-container form {
    width: fit-content !important;
}

.form-controls {
    display: flex;
    align-items: center;
}

.news-search-container {

}


.meetups-form-container, .usa-form-container {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.world-form {
    justify-content: center;
    width:100%;
    margin-top: 20px;
}

.meetups-form-container .form-controls {
    background: rgba(255, 0, 50, 0.89);
}

.usa-form-container .form-controls {
    margin-top: 20px;
    background: rgba(255, 0, 50, 0.89);
}

#searchBar a {
    text-decoration: none;
}

#searchBar input {
    text-transform: uppercase;
}

.time {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: lightblue;
}

#searchBar .pagination {
    
    position: relative;
    height: 60px;
    padding-bottom: 100px;
}

#searchBar .next {
    position: absolute;
    right: 35px;
     display: inline-block; 
}

#searchBar .prev {
    position: absolute;
    left: 35px;
     display: inline-block; 
}

#searchBar .pagination i {
    font-size: 22px;   
    color: rgb(255, 64, 129);
}

#searchBar .pageNumber {
    font-size: 18px;
    display: inline-block;   
    color: lightgrey;
}

#searchBar .pageNumber span{
    font-size: 18px;      
    color: rgb(255, 64, 129);
}







